@font-face {
    font-family: Bold;
    src: url(./Fonts/Bold.ttf);
}

@font-face {
    font-family: Light;
    src: url(./Fonts/Light.ttf);
}

@font-face {
    font-family: Italic;
    src: url(./Fonts/Italic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #333;
    color: #fff;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0%;
    z-index: 99999;
    gap: 1vw;
    transition: all ease 0.8s;
}

.d-flex{
    display: flex;
    align-items: center;
}

.text-loader{
    font-size: 3.5vw;
    font-family: Bold;
    font-weight: 900;
    opacity: 0;
}

.text30{
    margin-left: 10vw;
}

.text60{
    margin-left: 10vw;
}

.text70{
    margin-left: 5vw;
}

.text90{
    margin-left: 11vw;
}

.text100{
    margin-left: 8vw;
}

.open{
    width: 100%;
    height: 100vh;
    /* background-color: salmon; */
    position: fixed;
    right: -100%;
    z-index: 999;
    transition: all ease 0.6s;
    overflow: hidden;
}

.open .container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.open .container svg{
    width: 1vw;
    height: 1vw;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    font-size: 1.5vw;
}

.open .container .circle{
    width: 200vh;
    height: 200vh;
    /* background-color: red; */
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: -100vh;
    transform: translate(0, -50%) rotate(100deg);
    border-radius: 50%;
}

.open .container .circle .stripe{
    width: 100%;
    height: 5vw;
    /* background-color: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    transform-origin: 0 50%;
    display: flex;
}

.open .container .circle .str1{
    transform: translate(0, -50%) rotate(-20deg);
}

.open .container .circle .str2{
    transform: translate(0, -50%) rotate(-10deg);
}

.open .container .circle .str4{
    transform: translate(0, -50%) rotate(10deg);
}

.open .container .circle .stripe .first{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    position: relative;
}

.open .container .circle .stripe .first .smcircle{
    width: 0.7vw;
    height: 0.7vw;
    background-color: #fff;
    position: absolute;
    right: -.75%;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
}

.open .container .circle .stripe .second{
    width: 50%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    opacity: .1;
}

.open .container .circle .str3 .second{
    opacity: 1; /* The third one is active by default */
}

.open .container .circle .stripe .second a{
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
    font-family: Bold;
    padding-left: 2vw;
}

.open .container .panel{
    width: 3vw;
    height: 6vw;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.open .container .panel .mncircle{
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #fff;
    opacity: .10;
}

nav{
    width: 100%;
    position: fixed;
    padding: 1.5vw 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    /* background-color: salmon; */
}

nav .logo a{
    text-decoration: none;
    color: #fff;
}

nav .logo h1{
    font-size: 2.5vw;
    font-family: Bold;
    font-weight: 300;
    text-transform: uppercase;
}

nav .logo h1 span{
    background: linear-gradient(to right, orange, orangered);
    color: transparent;
    -webkit-background-clip: text;
}

nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8vw;
    cursor: pointer;
}

nav .menu h4{
    font-size: 1.3vw;
    font-family: Light;
    font-weight: 400;
}

nav .menu i{
    font-size: 1.2vw;
    font-weight: 200;
}

.resopen{
    display: none;
}


.cursor{
    width: 0.7vw;
    height: 0.7vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    /* background-color: #dad; */
    padding: 8vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.page1 h1{
    font-size: 7.2vw;
    line-height: 7.5vw;
    font-family: Bold;
    font-weight: 900;
    text-transform: uppercase;
    /* background-color: indigo; */
    text-align: center;
    z-index: 10;
}

.page1 .boxes .box1 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: green;
    position: absolute;
    top: -14%;
    left: 36%;
    z-index: 9;
    animation: Box1 9s ease-in-out alternate infinite;
}

@keyframes Box1 {
    0% {
        filter: blur(20px);
        transform: translateX(-10%) translateY(0%) skew(0deg);
    }
    100% {
        filter: blur(50px);
        transform: translateX(20%) translateY(10%) skew(-10deg);
    }
}

.page1 .boxes .box2 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: green;
    position: absolute;
    left: 2%;
    bottom: 2%;
    z-index: 9;
    animation: Box2 9s ease-in-out alternate infinite;
}

@keyframes Box2 {
    0% {
        filter: blur(20px);
        transform: translateX(-10%) translateY(0%) skew(0deg);
    }
    100% {
        filter: blur(50px);
        transform: translateX(30%) translateY(10%) skew(-10deg);
    }
}

.page1 .boxes .box3 {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: green;
    position: absolute;
    right: 2%;
    bottom: 2%;
    animation: Box3 9s ease-in-out alternate infinite;
}

@keyframes Box3 {
    0% {
        filter: blur(20px);
        transform: translateX(10%) translateY(0%) skew(0deg);
    }
    100% {
        filter: blur(50px);
        transform: translateX(30%) translateY(10%) skew(-6deg);
    }
}

.about{
    width: 100%;
    min-height: 100vh;
    /* background-color: indigo; */
    margin-top: 4vw;
    /* justify-content: center; */
}

.about .about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-content h1{
    font-size: 20vw;
    padding: 0 4vw;
    font-family: Italic;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    color: transparent;
    border-bottom: 1px solid #706C66;
    margin-bottom: 4vw;
}

.about .about-content p{
    width: 78%;
    font-size: 2vw;
    font-weight: 400;
    font-family: Light;
    text-align: center;
}


.page3{
    width: 100%;
    min-height: 100vh;
    /* background-color: #dad; */
    /* border-top: 1px solid #c8c8c8; */
    padding: 2vw 3.5vw;
    padding-top: 5.5vw;
}

.page3 .skill-title{
    margin-bottom: 5vw;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3 .skill-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20vw;
    font-family: Italic;
    padding: 0 4vw;
    font-weight: 300;
    text-transform: uppercase;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    color: transparent;
    border-bottom: 1px solid #706C66;
}

.page3 .skill{
    display: flex;
    align-items: center;
    gap: 2vw;
    /* background-color: #dad; */
    border-bottom: 1px solid #706C66;
    padding: 1vw 2vw;
    position: relative;
}

.page3 .skill i{
    font-size: 3vw;
}

.page3 .skill h1{
    font-size: 4vw;
    font-family: Italic;
    font-weight: 300;
}

.page3 .skill-content{
    display: flex;
    align-items: center;
    gap: 2.2vw;
    /* background-color: #dad; */
    padding: 1vw 1.5vw;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #706C66;
    overflow: hidden;
}

.page3 .skill-content i{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.page3 .skill-content h1{
    font-size: 4vw;
    font-family: Italic;
    font-weight: 300;
    position: relative;
    z-index: 9;
}

.page3 .skill-content .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background: linear-gradient(to right, orange, orangered);
    transition: all ease 0.6s;
    z-index: 8;
}

.page3 .skill-content:hover .overlay{
    top: 0;
}



footer{
    width: 100%;
    height: 5vw;
    background-color: #222;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    margin-bottom: 10vw;
}

footer .footer-left h3{
    font-size: 1vw;
    font-family: Light;
    font-weight: 300;
    text-transform: uppercase;
}

footer .footer-bottom h1{
    font-size: 2.5vw;
    font-family: Bold;
    font-weight: 400;
    text-transform: uppercase;
}

footer .footer-bottom h1 span{
    background: linear-gradient(to right, orange, orangered);
    color: transparent;
    -webkit-background-clip: text;
}

footer .footer-right{
    /* background-color: yellow; */
    margin-right: 4.7vw;
}

footer .footer-right a{
    margin-right: 0.6vw;
    font-size: 0.8vw;
    font-family: Light;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: all ease 0.5s;
}

footer .footer-right a:hover{
    color: #b8b8b8;
}




@media (max-width: 600px) {
    .loader .text-loader {
        font-size: 6.6vw;
        font-family: Bold;
        font-weight: 900;
    }
    .text30{
        margin-left: 0vw;
    }
    .text60{
        margin-left: 0vw;
    }
    .text70{
        margin-left: 0vw;
    }
    .text90{
        margin-left: 0vw;
    }
    .text100{
        margin-left: 0vw;
    }

    .cursor{
        display: none;
    }

    .page1 {
        min-height: 40vh;
        margin-top: 30vw;
    }

    .page1 .boxes .box1 {
        width: 40vw;
        height: 40vw;
    }

    .page1 .boxes .box2 {
        width: 40vw;
        height: 40vw;
    }

    .page1 .boxes .box3 {
        width: 40vw;
        height: 40vw;
    }
    nav {
        padding: 5vw 6vw;
    }
    nav .logo h1 {
        font-size: 7vw;
    }
    nav .menu {
        gap: 2vw;
    }
    nav .menu h4 {
        display: none;
    }
    nav .menu i {
        font-size: 5vw;
        margin-bottom: -1vw;
    }  
    .open{
        display: none;
    }
    .resopen{
        width: 100%;
        height: 100vh;
        background-color: #000;
        position: fixed;
        right: -100%;
        z-index: 999;
        transition: all ease 0.6s;
    }  
    .resopen svg{
        width: 5vw;
        height: 5vw;
        position: absolute;
        right: 5%;
        top: 5%;
    }
    .resopen .resopen-content{
        position: absolute;
        top: 15%;
        left: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .resopen .resopen-content a{
        text-decoration: none;
        color: #fff;
        margin-bottom: 8vw;
        font-size: 20vw;
        font-family: Bold;
        font-weight: 300;
        text-transform: uppercase;
    }
    .resopen{
        display: block;
    }

    .about {
        min-height: 70vh;
    }

    .about .about-content p {
        width: 100%;
        font-size: 5vw;
        font-weight: 400;
        font-family: Light;
        text-align: center;
        padding: 0 8vw;
    }

    .page3 {
        min-height: 66vh;
    }
    .page3 .skill-title h1 {
        font-size: 20vw;
    }
    .page3 .skill-content i {
        font-size: 7vw;
    }
    .page3 .skill-content h1 {
        font-size: 7vw;
    }

    footer {
        min-height: 12vw;
        margin-top: 8vw;
        /* margin-bottom: 10vw; */
    }
    footer .footer-bottom h1 {
        display: none;
    }
    footer .footer-left h3 {
        font-size: 2.3vw;
        font-family: Light;
        font-weight: 300;
        text-transform: uppercase;
    }
    footer .footer-right {
        /* background-color: yellow; */
        margin-right: 0vw;
    }
    footer .footer-right a {
        font-size: 2.4vw;
    }
}